*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navigation{
    padding: 18px 0;
    background-color: #A9A9A9;
    display: flex;
    /* opacity: 84%; */
    list-style: none;
    height: 8%;
    width: 100%;
    align-items: center;
    /* position: fixed; */
}
.logo img{
    height: 75px;
    display: flex;
    padding-left: 30px;
}
.logo img:hover{
   transform: translateX(15px);
   opacity: 80%;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    color: black;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    height: 100%;
    flex: 1;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: block;
}

.navigation ul>li :hover{
    /* background-color: #838383; */
    color: white;
    /* font-size: 35px; */
}
/* DropDown */

nav>ul>li>ul{
    width: 100%;
    list-style: none;
    position: absolute;
    display: none;
    padding: 10px 14px;
    z-index: 1;
}
nav>ul>li:hover>ul{
    background-color: rgb(88, 88, 88);
    display: block;
    opacity: 70%;
    border: orange;
    text-align: center;
}

nav>ul>li>ul>li:hover{
    background-color: rgb(88, 88, 88);;
    font-weight: bolder;
    border: orange;
    text-align: center;
}
nav>ul>li>ul>li a:hover{
    opacity: 100%;
}
/* content */
.container{
    background: #fafafa;
    width:40%;
    display: block;
    height:auto;
    padding:15px;
    border-radius: 5px;
    
  }

.detail img{
    width: 250px;
    height: 250px;
}

.img img{
    height: 190px;
    width: 190px;
}

.img1 p{
    font-size: 15px;
}

#Dc1{
    text-decoration: line-through;
    color: red;
}

#Dc2{
    text-decoration: line-through;
    color: red;
}

#Dc3{
    text-decoration: line-through;
    color: red;
}

#Dc4{
    text-decoration: line-through;
    color: red;
}

.rating{
    display: block;
    padding-bottom: 3px;
}

.rating img{
    width: 20px;
    height: 20px;
}

.Product p{
    text-align: left;
}
.forms{
    width:95%;
    background:#ececec;
    margin:1%;
    padding:10px;
    border: none;
    border-radius: 5px;
      
}
.input-form{
    width:95%;
    background:#ececec;
    margin:1%;
    padding:10px;
    border: none;
    border-radius: 5px;
}
.input-form-number{
    width:95%;
    background:#ececec;
    margin:1%;
    padding:10px;
    border: none;
    border-radius: 5px;
}
  .input-form-value{
    width:57.5%;
    background:#ececec;
    margin:1%;
    padding:10px;
    border: none;
    border-radius: 5px;
  }

.button-pay{
  color:white;
  background: #0000ff;
  font-weight: bold;
  border:none;
  border-radius:50px;
  padding:15px;
  margin:10px;
  width: 35%;
  float:right;
  cursor: pointer;
}
.button-change{
    color:white;
    background: #ff0000;
    font-weight: bold;
    border:none;
    border-radius:100px;
    padding:15px;
    margin:10px;
    width: 35%;
    margin-left: 20px;
    cursor: pointer;
  }

.button-pay:hover{
    background:#3333ff;
  }
.button-change:hover{
    background: #ff3333;
  }

table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}  

th, td {
    background: white;
}

th:hover {
    box-shadow:2px 0px 10px 0px #F4F4F4;
    border: 1px solid black;
  }
th{
    border: 1px solid #F4F4F4;
}

/* footer */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    /* padding: 60px 0 20px; */
    /* height: 370px; */
    /* min-height: 100px; */
}
.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 15px;
}

.footer-2, .footer-3, .footer-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-2{
    flex-basis: 40%;
    text-align: center;
}

.footer-2 img{
    width: 180px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.footer-3 , .footer-4{
    flex-basis: 20%;
    text-align: center;
}

.footer-4{
    padding-bottom: 20px;
}

ul{
    list-style-type: none;
}
.footer-3 ul a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer-4 ul a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 10px 0;
}

.copyright{
    text-align: center;
    padding-bottom: 15px;
}